<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"
    ></script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.0.1/bokeh.min.js"
      integrity="sha512-p7EUyPmeDeOwHiu7fIZNboAcQLxei3sWtXoHoShWWiPNUSRng/Xs5JPcaFPRa4dKy9IuHjyIQuLE4caGCwuewA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->

    <title>ML Project</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid border">
        <div class="row border">
          <div class="col border d-flex flex-column">
            <div class="col border d-flex justify-content-evenly">
              <div class="border d-flex flex-column">
                <p class="h6">Ground Truth</p>
                <button type="button" class="btn btn-danger align-middle">
                  URLLC
                </button>
              </div>
              <div class="border d-flex flex-column">
                <p class="h6">Classification Output</p>
                <button type="button" class="btn btn-warning align-middle">
                  eMBB
                </button>
              </div>
            </div>
            <div class="col border d-flex flex-column justify-content-evenly">
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 25%">25%</div>
              </div>
              <p class="h6 align-self-center">EWMA Accuracy</p>
            </div>
          </div>
          <div class="col border">
            <div class="col border d-flex flex-row">
              <div class="col border">
                <div class="d-flex flex-column align-items-stretch">
                  <p class="h6 align-self-center">RB's assigned</p>
                  <div class="d-flex flex-row align-items-center">
                    <p class="flex-grow m-0 px-1">0</p>
                    <div
                      class="progress flex-grow-1"
                      role="progressbar"
                      aria-label="Example with label"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div class="progress-bar" style="width: 25%">25%</div>
                    </div>
                    <p class="flex-grow m-0 px-1">50</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column">
                    <label class="form-check-label" for="flexRadioDisabled">
                      Auto MCS & Power
                    </label>
                    <input
                      class="form-check-input align-self-center"
                      type="radio"
                      name="flexRadioDisabled"
                      id="flexRadioDisabled"
                      disabled
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <label class="form-check-label" for="flexRadioDisabled">
                      Sleep
                    </label>
                    <input
                      class="form-check-input align-self-center"
                      type="radio"
                      name="flexRadioDisabled"
                      id="flexRadioDisabled"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col border d-flex flex-column justify-content-evenly">
                <p class="h6">Scheduling policy selected</p>
                <button type="button" class="btn btn-warning align-middle">
                  Round Robin
                </button>
              </div>
            </div>
            <div class="col border">
              <div class="d-flex flex-column justify-content-center">
                <div class="container">
                  <div class="row">
                    <div class="col-4">
                      <div class="my-1"><p class="m-0">Impact</p></div>
                    </div>
                    <div class="col-4">
                      <div class="my-1"><p class="m-0">Power Usage</p></div>
                    </div>
                    <div class="col-4">
                      <div class="my-1"><p class="m-0">Baseline</p></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div
                        class="progress my-1"
                        role="progressbar"
                        aria-label="Example with label"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div class="progress-bar" style="width: 25%">25%</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div><p class="m-0">Throughput</p></div>
                    </div>
                    <div class="col-4">
                      <div
                        class="progress my-1"
                        role="progressbar"
                        aria-label="Example with label"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div class="progress-bar" style="width: 25%">25%</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div
                        class="progress my-1"
                        role="progressbar"
                        aria-label="Example with label"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div class="progress-bar" style="width: 25%">25%</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div><p class="m-0">Power Usage</p></div>
                    </div>
                    <div class="col-4">
                      <div
                        class="progress my-1"
                        role="progressbar"
                        aria-label="Example with label"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div class="progress-bar" style="width: 25%">25%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <p class="m-0 align-self-center">EWMA Improved Performance</p>
              </div>
            </div>
          </div>
          <div
            class="col border d-flex flex-column align-items-stretch justify-content-around"
          >
            <div class="d-flex flex-row">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDisabled"
                id="flexRadioDisabled"
                disabled
              />
              <label class="form-check-label" for="flexRadioDisabled">
                OFF
              </label>
            </div>

            <div class="d-flex flex-column">
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 25%">25%</div>
              </div>
              <p class="align-self-center">EWMA Accuracy</p>
            </div>
          </div>
        </div>
      </div>
      <section class="graph-container border">
        <div class="border kpi-graph-container">
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
          <div class="border graph-item">
            {{ div1 | safe }} {{ script1 | safe }}
          </div>
        </div>
        <div class="border power-graph-container">
          {{ div1 | safe }} {{ script1 | safe }}
        </div>
      </section>
    </div>
  </body>
</html>
